body {
  font-weight: bold;
}

/* Cut styles*/
#cut-tab {
  background-color: #339999;
  color: #FFFFFF;
}
#cut,
.custom-file-label {
  color: #FFFFFF;
}
#cut embed,
#cut thead,
#cut a,
.num {
  color: #339999;
}
#cut button {
  background-color: #339999;
  color: #FFFFFF;
}
.pdfcut-cyan {
  background-color: #339999;
  border-color: #339999;
  color: #FFFFFF;
}
.pdfcut-right {
  float: right;
}
.cutvise {
  color: #339999 !important;
  background-color: #FFFFFF !important;
}
.card-body {
  padding: 0px;
}
tr, th, td {
  text-align: center;
  vertical-align: middle;
}
.from, .to {
  width: 4rem;
}
#pdfcut-choose-layout {
  height: 25%;
}
#pdfcut-table-layout {
  border: 1px solid #339999;
}
#pdfcut-table-layout input{
  border: 1px solid #339999;
}
#pdfcut-controls-layout {
  display: inline-block;
}
#pdf-view {
  border: 1px solid #339999;
  width: 80%;
  height: 50%;
}
.card {
  display: inline-block;
}

/* File upload style */
/*TODO: Clear file select unecessary styles*/
.copyright {
  display:block;
  margin-top: 100px;
  text-align: center;
  text-transform: uppercase;
}
.copyright a{
  text-decoration: none;
  color: #EE4E44; }
/* CODE */
.file-upload {
  display:block;text-align:center;}
.file-upload .file-select {
  border-radius: 4px;
  padding: 0px;
  display:block;
  cursor:pointer;height:40px;
  line-height:40px;text-align:left;background:#FFFFFF;
  position:relative;
}
.file-upload .file-select .file-select-button {
  color: #FFFFFF;
  padding:0 10px;
  display:inline-block;
  height:39px;
  line-height:39px;
}
#pdfcut-tab .file-upload .file-select {
  border: 1px solid #339999;
}
#pdfcut-tab .file-upload .file-select .file-select-button {
  background:#339999;
}
#pdfcut-tab .file-upload .file-select .file-select-name {
  color: #339999;
}
.file-upload .file-select .file-select-name {
  line-height:40px;
  display:inline-block;
  padding:0 10px;
}
.file-upload .file-select input[type=file] {
  z-index:100;cursor:pointer;position:absolute;
  height:100%;width:100%;top:0;left:0;
  opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled {
  opacity:0.65;
}
/* Convert styles*/
#convert-tab {
  background-color: #339933;
  color: #FFFFFF;
}
#convert{
  color: #339933;
}
#convert button{
  background-color: #339933;
  color: #FFFFFF;
}
#convert .card-header{
  background: #339933;
  color: #FFFFFF;
}
#convert .card{
  border:1px solid #339933;
}
#pdfcon-choose-layout {
  width: fit-content;
}
#pdfcon-controls-layout{
  width: -webkit-fill-available;
}
#pdfcon-draggable-area{
  width: 100%;
  height: 60px;
  border: 1px dotted #339933;
}
#con-types button, #pdfcon-draggable-area button{
  width: 100px;
  height: 40px;
  margin: 5px 5px 5px 10px;
}
#pdfcon-draggable-area button{
  background: #999999;
}
#pdfcon-controls-layout .file-upload .file-select {
  border: 1px solid #339933;
}
#pdfcon-controls-layout .file-upload .file-select .file-select-button {
  background:#339933;
}
#pdfcon-controls-layout .file-upload .file-select .file-select-name {
  color: #339933;
}
#pdfcon-controls-layout .file-select-button

/* Create styles*/
#create-tab {
  background-color: #ff0000;
  color: #FFFFFF;
}

/* Settings styles*/
#settings-tab {
  background-color: #999999;
  color: #FFFFFF;
}
/*Progress bar*/
#pdfcon-progress-bar {
  background-color: #339933;
  background: repeating-linear-gradient(45deg, #339933,
    #339933 10px, #006600 10px, #006600 20px);
}
